@import url('../../.cache/wal/colors-waybar.css');

@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;
@define-color color0 @color0;
@define-color color1 @color1;
@define-color color2 @color2;
@define-color color3 @color3;
@define-color color4 @color4;
@define-color color5 @color5;
@define-color color6 @color6;
@define-color color7 @color7;
@define-color color8 @color8;
@define-color color9 @color9;
@define-color color10 @color10;
@define-color color11 @color11;
@define-color color12 @color12;
@define-color color13 @color13;
@define-color color14 @color14;
@define-color color15 @color15;

* {
    border: none;
    border-radius: 10px;
    font-family: OCRA, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(31,30,31,0);
    color: @fg;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #1F1F1F;
}

#workspaces button {
    padding: 5px;
    color: #3A3A3A;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color7;
}

#workspaces button.focused {
    color: @color7;
    background: @color13;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @color0;
    background: @color12;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #131313;
    color: @fg;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #000000;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #141414;
}

#backlight {
    margin-right: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}


#workspaces {
    background: #000000;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @color4;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @color5;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @color6;
    border-radius: 10px 10px 10px 10px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @color9;
    border-radius: 10px;
    margin-right: 10px;
}

#network {
    color: @color10;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @color11;
    border-radius: 0px 10px 10px 0px;
    border-radius: 10px;
    margin-right: 10px;
}

#pulseaudio.microphone {
    color: @color13;
    border-radius: 0px 10px 10px 0px;
    border-left: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

#battery {
    color: @color12;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
