:root {
  --foreground: #c0acd1;
  --background: #0b0b0b;
  --color0: #0b0b0b;
  --color1: #48534A;
  --color2: #516D55;
  --color3: #5B5B69;
  --color4: #658B5F;
  --color5: #564F96;
  --color6: #645B97;
  --color7: #c0acd1;
  --color8: #867892;
  --color9: #48534A;
  --color10: #516D55;
  --color11: #5B5B69;
  --color12: #658B5F;
  --color13: #564F96;
  --color14: #645B97;
  --color15: #c0acd1;
}
